[submodule "vendor/Sonnet"]
	path = vendor/Sonnet
	url = https://github.com/ZettaBite4031/Sonnet.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git

